
<div class="dropper">
	<button class="buttonSytle" onclick="layer1mobileExpand(this)" type="button">Products <i class="fa fa-caret-down"></i></button>
	<ul class="dropdown-content">
	
      <li ><a style="border-bottom: none; " href="https://www.google.com/">Link 1</a></li>
	  <li >{% include productsDropdownLayer2.html %}</li>
      <li ><a style="border-bottom: none;"  href="#">Link 3</a></li>
	</ul>
	
</div> 


<script>
var node
var previousItem	
function layer1mobileExpand(item) {		
    if(getWidth()<= 980)
	{
		var siblings =  item.parentNode.childNodes;
		var i;
		
		if (typeof node == 'undefined' || previousItem != item)
			for (i = 0; i < siblings.length; i++)
				if (siblings[i].className=="dropdown-content")
				{
					var node = siblings[i]
					handle = node
				}
			
				
		if(node.style.display == "" ) 
			node.style.display = "none"
				
		if (node.style.display == "none")
			node.style.display = "block"
				
		else
			node.style.display = "none"
			
		
		previousItem = item
	}
}
 


window.onresize = function(event) {
   console.log("resize")
   if (typeof node != 'undefined') {
		node.style.display = "none"
   }
};


function getWidth() {
  return Math.max(
    document.body.scrollWidth,
    document.documentElement.scrollWidth,
    document.body.offsetWidth,
    document.documentElement.offsetWidth,
    document.documentElement.clientWidth
  );
}
</script>