
<div class="layer2-dropper">
	<button class="buttonSytle" onclick="layer2mobileExpand(this)"  type="button">Drop2 <i class="fa fa-caret-down"></i></button>
	<div class="dropdown-content-layer2">
		<ul style="padding-left: 0em; list-style: none; background-color: rgba(100,100, 100, 0.1);">
	
		<li ><a style="border-bottom: none;" href="https://www.google.com/">Link 1</a></li>
		<li ><a style="border-bottom: none;"  href="#">Link 2</a></li>
		<li ><a style="border-bottom: none;"  href="#">Link 3</a></li>
		<li ><a style="border-bottom: none;"  href="#">Link 4</a></li>
		</ul>
	</div>
	
</div> 

<script>
var node 
var previousItem
function layer2mobileExpand(item) {		
	if(getWidth() <= 980){
		var siblings =  item.parentNode.childNodes;
		var i;
		
		if (typeof node == 'undefined' || previousItem != item)
			for (i = 0; i < siblings.length; i++) 
				if (siblings[i].className=="dropdown-content-layer2")
					node = siblings[i]
		
		if(node.style.display == "" ) 
		node.style.display = "none"
							
		if (node.style.display == "none")
		{
			node.style.display = "block"
			node.style.visibility = "visible";
			node.style.position = "inherit"
			node.style.top = "0rem";
			node.style.backgroundImage =  "none";
					
		}
		
		else
		{
			node.style.display = "none"
			node.style.visibility = "collapse";
			node.style.backgroundImage = "/images/bg.jpg";   
			node.style.left = "9.1rem";
			node.style.position = "relative";
		}
			
		previousItem = item
	}	
}

 



window.onresize = function(event) {
   if (typeof node != 'undefined') {
		console.log("resize")
		node.style.display = "none"
		node.style.visibility = "collapse";
		node.style.backgroundImage = "/images/bg.jpg";   
		node.style.left = "9.1rem";
		node.style.position = "relative";
   }
};

function getWidth() {
  return Math.max(
    document.body.scrollWidth,
    document.documentElement.scrollWidth,
    document.body.offsetWidth,
    document.documentElement.offsetWidth,
    document.documentElement.clientWidth
  );
}


</script>