.dropper {
}

.layer2-dropper {
	height: 4rem;
}

@media only screen and (max-width:  980px) {
  .layer2-dropper {
	  height: auto;
  }
}

.dropdown-content {
	background-image: url(/images/bg.jpg);
	display: none;
	padding-left: 0rem;
	list-style-type: none;
}




@media only screen and (max-width:  980px) {
  .dropdown-content{
	background-image: none;
	display: none;
	padding-left: 0rem;
	background-color: rgba(100,100, 100, 0.1);
  }
}


.dropdown-content-layer2 {
	padding-left: 0rem;
	display: none;
	background-image: url(/images/bg.jpg);
	left: 9.1rem;   
	visibility: collapse;
	

}


@media only screen and (min-width:  981px) {
.dropper:hover .dropdown-content {
	display: block;

}
}

@media only screen and (min-width:  981px) {
.layer2-dropper:hover .dropdown-content-layer2 {
	display: block;
	position: relative;
	top: -4.06rem;
	visibility: visible;
}
}




.buttonSytle{
	color: #fff !important;	
	box-shadow: none
	font-size: 0.9rem;
    font-weight: 900;
    letter-spacing: 0.075em;
	box-shadow: none;
	font-family: "Source Sans Pro",Helvetica,sans-serif
}


.buttonSytle:focus { 
	outline: none;
	box-shadow: none
}

.buttonSytle:hover { 
	outline: none;
	box-shadow: none
}

@media only screen and (max-width:  980px) {
	.buttonSytle{
		color: #212931 !important;
		padding: 0;
		
	}
	
}